<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link href="/css/register.css" rel="stylesheet">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/register.js"></script>
</head>
<body>
    <nav>
        <div class="nav">
            <ul class="nav-ul">
                <li><a href="index">首页</a></li>
                <li><a href="#">关于我们</a></li>
            </ul>
        </div>
    </nav>
    <div class="content">
        <div class="login_center">
            <form action="/zhuce" method="post">

                <div class="input">
                    学号:<input type="text" name="xid" id="xid"><br/>
                    <span id="xid_warn" style="display: none">用户名已存在</span>
                </div>
                <div class="input">
                    身份证号:<input type="text" name="sid" id="sid"><br/>
                    <span id="sid-warn" style="display: none">该身份证号已被注册</span>
                </div>
                <div class="input">
                    密码:<input type="password" name="password"><br/>
                    <span class="password-warn" style="display: none">密码格式不正确</span>
                </div>
                <div class="input">
                    <input type="submit" value="注册" class="btn btn-lg btn-primary" id="btn">
                </div>
            </form>
        </div>
    </div>

    <footer></footer>


</body>
</html>